body {
  background: #50a3a2;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

.title {
  font-size: 60px;
  font-weight: 200;
}

h1 {
  font-size: 50px;
  font-weight: 200;
  color: black;
  margin-bottom: 30px;
}

h2 {
  font-size: 40px;
  padding-top: 5%;
  color: black;
}


/* Simple Container for most components */
.container {
  display: relative;
  margin: 10% auto 0 auto;
  text-align: center;
  padding: 60px 0;
}

/* Home Component */
.btn {
  display: inline-block;
  margin: 5px;
}

/* Get Started Component */
form {
  display: flex;
  justify-content: center;
}

.form-btn {
  display: inline-block;
  margin: 5px;
}

.form-btn-submit {
  padding-top: 2px;
  margin: 0;
}

.getStarted-container {
  position: relative;
  margin: 10% auto;
  text-align: center;
}

.quote {
  font-size: 25px;
  margin-top: 5%;
}

/* Footer Component */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #222831;
  padding-top: 3px;
  width: 100%;
}

.footer-list {
  list-style-type: none;
  margin-bottom: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.footer-element {
  padding: 2px 0 8px;
  margin: 0 auto;
  color: #ccf2f4;
}

.footer-element:hover {
  color: grey;
}

/* Calendar component */
.calendar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 0 auto;
}

/* Item component */
.habit-element {
  font-size: 25px;
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  width: 30%;
  margin: 5px auto;
}

/* HabitContainer Component */
.list-group {
  position: relative;
  margin-top: 10px;
}


@media screen and (max-width: 1024px) {
  /* Home Component */
  .container {
    margin: 30% auto;
  }

  .title {
    font-size: 100px;
  }

  .quote {
    font-size: 35px;
  }

  /* Get Started Component */
  .getStarted-container {
    margin: 20% auto;
  }

  .calendar-string {
    font-size: 70px;
  }

  .habit-element {
    width: 70%;
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 30px;
  }

  /* Home Container */
  .title {
    font-size: 50px;
  }

  .container {
    margin: 8rem auto;
  }

  .quote {
    font-size: 20px;
  }

  /* getStarted Container */
  .getStarted-container {
    margin: 50% auto;
  }

  .calendar-string {
    font-size: 45px;
  }

  .habit-element {
    font-size: 20px;
    width: 80%;
  }
}